/* Home.css */

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: opacity 0.3s ease; /* Add transition for opacity */
}

body {
  margin: 0;
  overflow: hidden;
  background-color:#000;
}

.home.scrolled {
  opacity: 0.8; /* Adjust opacity for scrolled state */
}

.background-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(1.15); /* Zoom in the image by 10% */
  background-color: #000;
}

.background-layer {
  width: 100%;
  height: 100%;
  background-image: url('./asset/Zinpreview1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: grayscale(30%);
  transition: transform ease-out; /* Add smooth transition for the parallax effect */
}

.subject-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.circle-row {
  position: fixed;
  bottom: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  z-index: 3; /* Ensure the circles are above other layers */
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
  fill: #3498db; /* Set the initial fill color */
  transition: fill 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 0.8; /* Set initial opacity */
}

.circle:hover {
  fill: #2980b9; /* Change the fill color on hover */
  filter: drop-shadow(0 0 0.75rem white);
  opacity: 1; /* Set opacity on hover */
}


.circle img {
  width: 70%;
  height: auto;
}

.contact-info {
  position: fixed;
  text-align: right;
  color: #fff;
  font-size: 18px;
  margin-right: 20px;
  font-size: 18px;
}


