/* Navbar.css */
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  /* Set the background color to grey */
  font-family: 'Quicksand', sans-serif;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size: 25px;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s, backdrop-filter 0.3s;
  z-index: 1000;
  text-align: center;
}

.navbar a {

  text-decoration: none;
  color: #000
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease;
  /* Add transition for color */
}

ul {
  list-style: none;
  display: flex;
  height: auto;
  padding: 14px;
  margin: 0px;
  justify-content: space-around;
}

li {
  cursor: pointer;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.selected {
  text-shadow: 1px 0 black, -1px 0 black, 0 -1px black;
}

.has-submenu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  list-style-type: none;
  bottom: 100%;
  width: 200px;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.submenu li {
  border-bottom: 2px solid #000;
  /* Add a horizontal line between items */
  padding: 5%;
}

.submenu li:last-child {
  border-bottom: none;
}

.has-submenu:hover .submenu {
  font-weight: lighter;
  /* Set font-weight to normal */
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
}

/* FOR ANIMATION PAGE X NAVBAR */

.navbar.animation {
  background-color: transparent;
  /* Set background to transparent on the animations page */
}

.navbar.submenu {
  background-color: transparent;
}

.navbar.animation {
  color: #fff;
  /* Set text color to white on the animations page */
}

.navbar.animation a {
  color: #fff;
  /* Set text color to white on the animations page */
}

.navbar.animation .submenu {
  background-color: rgba(255, 255, 255, 0.2);
  /* Set a background color for the submenu on the animations page */
}

.navbar.animation .submenu li {
  color: #ffffff;
  /* Set text color to black for submenu items on the animations page */
}
